experiments/
**/__pycache__/**
__pycache__/
*.pyc
/results/
notebooks/
devdocs/*
node_modules/
work/
**/*.tsbuildinfo
.claude
heuristics/
CHANGES
site/
proposals/
fmriflow/data/subjects.json
run_fmriprep.sh
fmriflow/plugins/response_loaders/study_hdf.py
heuristics/generic_heuristic.py
heuristics/generic_heuristic.yaml
