experiments/
**/__pycache__/**
__pycache__/
*.pyc
results/
notebooks/
devdocs/*
node_modules/
work/
**/*.tsbuildinfo
.claude
heuristics/
CHANGES
site/
proposals/
fmriflow/data/subjects.json
run_fmriprep.sh
fmriflow/plugins/response_loaders/bling_hdf.py
heuristics/glab_general.py
heuristics/glab_general.yaml
